<!DOCTYPE html>
<html>
<head>
       
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   
    <!-- StyleSheets  -->
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"></link>
    

    <!-- Carrega Scripts -->
    <script src="../../js/jquery.js" type="text/javascript"></script> 
    <script src="../../js/bootstrap.min.js" type="text/javascript"></script> 
    
    <script src="documentReady.js" type="text/javascript" ></script> 
       
       
       
       
       
       
    <title>Cadastro de Produtos</title>
</head>

<body>  


        <div class="modal fade" id='modalWindow'>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Cadastre seu produto</h4>
                    </div>
                    <div class="modal-body">
                        <form id='formCadastro' action='../../../controller/produto/cadastra_produto.php' method='post'>

                            Nome*:<br><input type='text' name='nome'/><br>
                            Descricao:<br><input type='text' name='descricao'/><br>
                            Quantidade*:<br><input type='text' name='quantidade'/><br>
                            Preco*:<br><input type='text' name='preco'/><br>
                            URL para foto:<br><input type='text' name='linkfoto'/><br>
                            Data de inicio:<br><input type='text' name='datainicio'/><br>
                            Data de termino:<br><input type='text' name='datatermino'/><br>
                            Tamanho do lote:<br><input type='text' name='tamanholote'/><br>
                            Preco do lote:<br><input type='text' name='precolote'/><br>
                            Validade Apos Compra:<br><input type='text' name='validadeaposcompra'/><br>

                        </form>                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="location.href='../visualizacao/';">Visualizar Produtos</button>
                        <button type="button" class="btn btn-primary" onclick='document.getElementById("formCadastro").submit();'>Cadastrar</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


       
       
               
                       
       
       
       
       
       
       



</body>
</html>

