<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
	<!-- Carrega Scripts -->
	<!-- <script src="../../js/jquery-1.4.2.min.js" type="text/javascript"></script> -->
	<!-- <script src="js/mainClass.js" type="text/javascript" ></script>
	<script src="js/documentReady.js" type="text/javascript" ></script> -->
	<!-- --------------- -->
	
	
	
	<!-- -------------------------------------------------------- -->
	<!-- Script para execução das funções das classes ----------- -->	
	<script type="text/javascript" >
	/*
		
			
			Tudo no documentReady.js
			
		
	*/
	</script>
	
	
	
	<!-- -------------------------------------------------------- -->
    <!-- StyleSheets -------------------------------------------- -->
    <!--<link rel="stylesheet" type="text/css" href="css/mainStyle.css"></link>-->
	
	
	
	
	<title>Cadastro</title>
</head>
<body>


	
	
	<h1><u>Faça seu cadastro</u></h1>


	<form id='formCadastro' action='../../../controller/usuario/cadastra_usuario.php' method='post'>
		
		Nome*:<br><input type='text' name='nome'/><br>
		Sobrenome:<br><input type='text' name='sobrenome'/><br>
		Email*:<br><input type='text' name='email'/><br>
		Senha*:<br><input type='password' name='pass'/><br>
		Rua:<br><input type='text' name='rua'/><br>
		Numero:<br><input type='text' name='numero'/><br>
		Cidade:<br><input type='text' name='cidade'/><br>
		Estado:<br><input type='text' name='estado'/><br>
		Pais:<br><input type='text' name='pais'/><br>
		Cep:<br><input type='text' name='cep'/><br>
		Nascimento:<br><input type='text' name='nascimento'/><br>
		Cpf:<br><input type='text' name='cpf'/><br>
		<input type="checkbox" name="admin">Admin<br>
		<input type="checkbox" name="vendedor">Vendedor<br>
		<input type="checkbox" name="comprador">Comprador<br>		
		<br><br>
		<input type='submit' value= "Enviar">



	</form>	
			
	
	
	
	
	
	



</body>
</html>
