<!DOCTYPE html>
<html>
<head>
       
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   
    <!-- StyleSheets  -->
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"></link>
    

    <!-- Carrega Scripts -->
    <script src="../../js/jquery.js" type="text/javascript"></script> 
    <script src="../../js/bootstrap.min.js" type="text/javascript"></script> 
    
    <script src="documentReady.js" type="text/javascript" ></script> 
       
       
       
       
       
       
<title>Cadastro</title>
</head>

<body>

        <div class="modal fade" id='modalWindow'>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Faça seu cadastro</h4>
                    </div>
                    <div class="modal-body">
                        <form id='formCadastro' action='../../../controller/usuario/cadastra_usuario.php' method='post'>
		
							Nome*:<br><input type='text' name='nome'/><br>		
							Email*:<br><input type='text' name='email'/><br>
							Senha*:<br><input type='password' name='pass'/><br>
							Endereco:<br><input type='text' name='endereco'/><br>		
							Cidade:<br><input type='text' name='cidade'/><br>
							UF*:<br><input type='text' name='uf'/><br>
							Pais*:<br><input type='text' name='pais'/><br>
							Cep:<br><input type='text' name='cep'/><br>
							Nascimento:<br><input type='text' name='nascimento'/><br>
							Cpf:<br><input type='text' name='cpf'/><br>	

						</form>	
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" onclick='document.getElementById("formCadastro").submit();'>Cadastrar</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

	

	
	


</body>
</html>
